body {
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  box-sizing: border-box;
}

 /* Total stock page css */

.image {
    height: 5px;
    width: 5px;
}
.image img{
    height:100px;
    width: 200px;
}

.header{
    text-align: center;
}
